<html>
    <head>
        <title>Accounts</title>
    </head>
    <body>
    <h1>Accounts</h1>
    <a href="/account/add">Add New Account</a> <br />

    <br />


        <table border="1">
            <th>Email</th><th>Name</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/account/?account_id=<%= result[i].account_id %>"><%= result[i].email%></a></td>
                <td><%= result[i].first_name + ' ' + result[i].last_name%>

                <td><form action="/account/delete/">
                        <input type="hidden" name="account_id" id="account_id" value="<%= result[i].account_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
    </body>

</html>