<html>
<head>
    <title>Add New Book</title>
</head>
<body>
<h1>Add New Book</h1>
<form action="/books/insert" method="get">
        Book Title: <input id="title" name="title" type="title" />
        Book Author: <input id="author" name="author" type="author" />
        Book Year: <input id="year_publication" name="year_publication" type="year_publication" />
        Book Genres: <input id="genres" name="genres" type="genres" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>