<body bgcolor="#669999
">
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/books/all">Books</a> <br />
    <br />
    <a href="/movies/all">Movies</a> <br />
    <br />
    <a href="/actors/all">Actors</a> <br />
    <br />
    <a href="/artist/all">Artist</a> <br />
    <br />
    <a href="/tv/all">Tv</a> <br />
    <br />
    <h1> About </h1>
    <a href="/school/all">About</a> <br />

    <h2> Taylor Arellano</h2>

    <br />

  </body>
</html>
