<html>
<head>
    <title>Add New Skill</title>
</head>
<body>
<h1>Add New Skill</h1>
<form action="/skill/insert" method="get">
    Skill Name: <input id="name" name="name" type="text" />
    Account Description: <input id="description" name="description" type="text" />

    <br />

    <input type="submit" />

</form>
</body>

</html>