<html>
    <head>
        <title>Skills</title>
    </head>
    <body>
        <h1>Skills</h1>
        <a href="/skill/add">Add New Skill</a> <br />

        <br />

        <table border="5">
            <tr><th>Skill Name</th><th>Description</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/skill/?skill_id=<%= result[i].skill_id %>"><%= result[i].name %></a></td>
                <td><%= result[i].description %></td>

                <td><form action="/skill/delete/">
                        <input type="hidden" name="skill_id" id="skill_id" value="<%= result[i].skill_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>
            </tr>
            <% } %>
        </table>
    </body>

</html>