<html>
<head>
    <title>Add New Actor</title>
</head>
<body>
<h1>Add New Actor</h1>
<form action="/actors/insert" method="get">
    Actor Name: <input id="name" name="name" type="name" />
    Actor Height: <input id="height" name="height" type="height" />
    Actor Gender: <input id="gender" name="gender" type="gender" />
    Actor Age: <input id="age" name="age" type="age" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>