<html>
<head>
    <title>Add New Company</title>
</head>
<body>
<h1>Add New Account</h1>
<form action="/company/insert" method="get">
    Company Name : <input id="company_name" name="company_name" type="text" />


    <br />

    <input type="submit" />

</form>
</body>

</html>