<html>
<head>
    <title>Add New Movie</title>
</head>
<body>
<h1>Add New Movie</h1>
<form action="/movies/insert" method="get">
    Movie Title: <input id="title" name="title" type="title" />
    Movie Genres: <input id="genres" name="genres" type="genres" />
    Movie Year: <input id="year" name="year" type="year" />
    Movie Director: <input id="director" name="director" type="director" />
    Movie Book Title: <input id="book_title" name="book_title" type="book_title" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>