<html>
<head>
    <title>Add New Artist</title>
</head>
<body>
<h1>Add New Artist</h1>
<form action="/artist/insert" method="get">
    Book Title: <input id="name" name="name" type="name" />
    Book Author: <input id="height" name="height" type="height" />
    Book Year: <input id="gender" name="year_publication" type="year_publication" />
    Book Genres: <input id="age" name="genres" type="genres" />
    <br />
    <br />

    <input type="submit" />

</form>
</body>

</html>