<html>
<head>
    <title>About</title>
</head>
<body>

<h1> About my Database:</h1>
<b>This database is designed to keep track of entertainment. This database will store information on movies, actors, TV shows, books, and music. These are some of the many different types of entertainment that are used today.
    Every movie that is made today fits into a genre. Each movie has a unique name that will identify it. Other important factors in a movie are the director and the year it was made. Movies star actors, these actors will have information stored about them such as their name, age, height, and whether they are male or female. Each television show fits into a genre. Shows air for several years so it is important that the air time is stored. TV series had different amount of season and each season can have a different amount of episodes. Because actors also star on TV shows they will have a relation with the TV series.
    Books are another form of entrainment. Each book should have an author, year that it was published, title, and genre/s. Nowadays books are always being made into movies, because of this there will be a relationship between the two.
    One of the last forms of entertainment that are being included is music. Music is a big part of entrainment today, it is also incorporated in many others entertainments such as the score of movies and television shows. Artists will have important facts about them stores such as their name, height, and age. Each artist creates music. Artists can create more than one album, and each of these albums will have a year saved along with studio that released the cd.
</b>
</br>

<h1> About My Company:</h1>
<b> My company keeps track of different entertainment.</b>
</br>

<h1>Relation Schema and ER Diagram</h1>

<p style="font-size: 40px; font-style: oblique;"></p>
<form action="/next" method="post">
    <img src="/images/relationalschema.JPG" >
</form>

<p style="font-size: 40px; font-style: oblique;"></p>
<form action="/next" method="post">
    <img src="/images/ERDiagram.jpg" >

</form>



</br>
<h1> Contact me at:</h1>
<b>dontContactme@gmail.com </br> 1800-555-NOPE</b>


</body>

</html>
